<template name="gradeItem">
  <td class="center">
    {{#if not_closed}}
      <span class="tooltipped grade not-closed" data-position="bottom" data-delay="50" data-tooltip="{{date}} {{description}}">{{value}}</span>
    {{else}}
      <span class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{date}} {{description}}">{{value}}</span>
    {{/if}}
    {{#if admin}}<br>
    <a href="#" class="grade-edit blue-text"><i class="fa fa-lg fa-pencil"></i></a>
    <a href="#" class="grade-remove orange-text"><i class="fa fa-lg fa-trash"></i></a>
    {{/if}}
  </td>
</template>
