<template name="lessonEdit">
    <div class="row valign-wrapper" style="height: 85vh">
        <div class="col l6 offset-l3 m8 offset-m2 s12 valign">
            <form>
                <div class="row center">
                    <h5>Редактирование урока</h5>
                </div>
                <div class="row">
                    <div class="input-field s12">
                        <i class="fa fa-user prefix"></i>
                        <input id="name" value="{{name}}" type="text">
                        <label for="name" class="active">Название</label>
                    </div>
                    <div class="col s12 center">
                        <button type="submit" class="waves-effect waves-light btn btn-large blue"><i class="fa fa-check left"></i>сохранить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>