<template name="pupilPage">
  <div class="row">
    <div class="col l10 offset-l1 m12 s12 center">
      <h5>{{name}}</h5>
    </div>
    <div class="col l10 offset-l1 m12 s12">
      <h5>Список оценок</h5>
      <table class="striped">
        <thead>
        <tr>
          <th>Дата</th>
          <th>Урок</th>
          <th>Оценка</th>
          <th>Подробности</th>
          {{#if admin}}
            <th>Действия</th>
          {{/if}}
        </tr>
        </thead>

        <tbody>
        {{#each grades}}
          {{> gradeItem}}
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>
