<template name="pupilPage">
  <div class="row">
    <div class="col l10 offset-l1 m12 s12 center">
      <h5>{{name}}</h5>
    </div>
    <div class="col l10 offset-l1 m12 s12">
      <h5>Список оценок</h5>
      <table>
        <tbody>
          {{#each lessons}}
            <tr>
              <td>{{name}}</td>
              {{#each lessonGrades}}
                {{> gradeItem}}
              {{/each}}
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>
