<template name="pupilItem">
    <div class="col l6 m8 offset-m2 s12">
        <div class="card-panel" style="margin: 0.5rem 0">
            <div class="collapsible-header pupil-item">
                {{#if canSeeGrades}}
                    <a href="{{pathFor 'pupilPage'}}"><i class="fa fa-user left"></i>{{name}}</a>
                {{else}}
                    <i class="fa fa-user left"></i>{{name}}
                {{/if}}
                {{#if admin}}
                    <a href="#" class="pupil-remove orange-text right"><i class="fa fa-trash"></i></a>
                    <a href="{{pathFor 'pupilEdit'}}" class="pupil-edit blue-text right"><i class="fa fa-pencil"></i></a>
                    <a href="#" class="pupil-grade amber-text right"><i class="fa fa-star"></i></a>
                {{/if}}
            </div>
        </div>
    </div>
</template>