<template name="pupilSubmit">
  <div class="row valign-wrapper" style="height: 85vh">
    <div class="col l6 offset-l3 m8 offset-m2 s12 valign">
      <form>
        <div class="row center">
          <h5>Добавление ученика</h5>
        </div>
        <div class="row">
          <div class="input-field s12">
            <i class="fa fa-user prefix"></i>
            <input id="name" type="text">
            <label for="name">Имя</label>
          </div>
          <div class="col s12 center">
            <button type="submit" class="waves-effect waves-light btn btn-large blue"><i class="material-icons left">add</i>добавить</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
