<template name="manage">
    <div class="row valign-wrapper" style="height: 85vh">
        <div class="col l6 offset-l3 m10 offset-m1 s12 center valign">
            <a href="{{pathFor 'daySubmit'}}" class="waves-effect waves-light btn btn-large blue" style="margin-top: 5px"><i class="fa fa-calendar left"></i>день</a>
            <a href="{{pathFor 'lessonSubmit'}}" class="waves-effect waves-light btn btn-large blue" style="margin-top: 5px"><i class="material-icons left">class</i>урок</a>
            <a href="{{pathFor 'pupilSubmit'}}" class="waves-effect waves-light btn btn-large blue" style="margin-top: 5px"><i class="fa fa-user left"></i>ученика</a>
            <a href="{{pathFor 'gradeSubmit'}}" class="waves-effect waves-light btn btn-large blue" style="margin-top: 5px"><i class="fa fa-star left"></i>оценку</a>
            <a href="#" class="waves-effect waves-light btn btn-large blue" style="margin-top: 5px"><i class="fa fa-user-secret left"></i>пользователя</a>
        </div>
    </div>
</template>