<template name="manage">
  <div class="row valign-wrapper" style="height: 85vh">
    <div class="col l6 offset-l3 m10 offset-m1 s12 center valign">
      <a href="{{pathFor 'daySubmit'}}" class="waves-effect waves-light btn btn-large blue" style="margin-top: 5px">
        <i class="fa fa-calendar left"></i><span>день</span>
      </a>
      <a href="{{pathFor 'lessonSubmit'}}" class="waves-effect waves-light btn btn-large blue" style="margin-top: 5px">
        <i class="fa fa-cube left"></i><span>урок</span>
      </a>
      <a href="{{pathFor 'pupilSubmit'}}" class="waves-effect waves-light btn btn-large blue" style="margin-top: 5px">
        <i class="fa fa-user left"></i><span>ученика</span>
      </a>
      <a href="{{pathFor 'gradeSubmit'}}" class="waves-effect waves-light btn btn-large blue" style="margin-top: 5px">
        <i class="fa fa-star left"></i><span>оценку</span>
      </a>
      <a href="#" class="waves-effect waves-light btn btn-large blue" style="margin-top: 5px">
        <i class="fa fa-user-secret left"></i><span>пользователя</span>
      </a>
    </div>
  </div>
</template>
